@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Italic.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Italic.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Italic.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Italic.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Italic.svg#NeueHaasUnicaPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-UltLightIt.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-UltLightIt.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-UltLightIt.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-UltLightIt.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-UltLightIt.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-UltLightIt.svg#NeueHaasUnicaPro-UltLightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-BlackIt.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-BlackIt.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-BlackIt.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-BlackIt.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-BlackIt.svg#NeueHaasUnicaPro-BlackIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Bold.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Bold.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Bold.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Bold.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Bold.svg#NeueHaasUnicaPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Regular.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Regular.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Regular.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Regular.svg#NeueHaasUnicaPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro XBlack';
  src: url('../css/fonts/NeueHaasUnicaPro-XBlackIt.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-XBlackIt.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-XBlackIt.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-XBlackIt.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-XBlackIt.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-XBlackIt.svg#NeueHaasUnicaPro-XBlackIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Black.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Black.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Black.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Black.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Black.svg#NeueHaasUnicaPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Medium.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Medium.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Medium.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Medium.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Medium.svg#NeueHaasUnicaPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-MediumIt.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-MediumIt.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-MediumIt.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-MediumIt.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-MediumIt.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-MediumIt.svg#NeueHaasUnicaPro-MediumIt') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro XBlack';
  src: url('../css/fonts/NeueHaasUnicaPro-XBlack.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-XBlack.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-XBlack.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-XBlack.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-XBlack.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-XBlack.svg#NeueHaasUnicaPro-XBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-UltraLight.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-UltraLight.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-UltraLight.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-UltraLight.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-UltraLight.svg#NeueHaasUnicaPro-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-BoldItalic.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-BoldItalic.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-BoldItalic.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-BoldItalic.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-BoldItalic.svg#NeueHaasUnicaPro-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Thin.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Thin.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Thin.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Thin.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Thin.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Thin.svg#NeueHaasUnicaPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-HeavyIt.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-HeavyIt.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-HeavyIt.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-HeavyIt.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-HeavyIt.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-HeavyIt.svg#NeueHaasUnicaPro-HeavyIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-LightIt.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-LightIt.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-LightIt.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-LightIt.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-LightIt.svg#NeueHaasUnicaPro-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-ThinItalic.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-ThinItalic.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-ThinItalic.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-ThinItalic.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-ThinItalic.svg#NeueHaasUnicaPro-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Light.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Light.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Light.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Light.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Light.svg#NeueHaasUnicaPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('../css/fonts/NeueHaasUnicaPro-Heavy.eot');
  src: url('../css/fonts/NeueHaasUnicaPro-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/NeueHaasUnicaPro-Heavy.woff2') format('woff2'),
  url('../css/fonts/NeueHaasUnicaPro-Heavy.woff') format('woff'),
  url('../css/fonts/NeueHaasUnicaPro-Heavy.ttf') format('truetype'),
  url('../css/fonts/NeueHaasUnicaPro-Heavy.svg#NeueHaasUnicaPro-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@import "bootstrap-variables";
@import "helpers";
@import "style";
@import "responsive";
